__pycache__/
.venv/
*.bin
*.ckpt
*.pth
*.npz
*.wav
*.docx
*.onnx
*.tar.bz2
.DS_Store
~$*
.vscode/
*.egg-info/
dist/
build/
results_hw4/
pretrained_models/
dicdir/
vits-melo-tts-zh_en/
*.cache/
*.incomplete
.ipynb_checkpoints/
checkpoint.pth
model.safetensors
model.onnx
model.int8.onnx
flax_model.msgpack
tf_model.h5
pytorch_model.bin
